<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
<img src="https://ccs2.ufpel.edu.br/wp/wp-content/uploads/2014/04/Marca-Colorida-UFPEL_10042014-337x150.png">
<h1 id="main-text" class="display-4 mb-4">
Bem-vindo ao serviço de webconferências UFPel
</h1>
<hr>
<p class="lead offset-lg-2 col-lg-8 col-sm-12 ">
A plataforma pode ser utilizada para atividades como aulas, reuniões, monitorias, treinamentos, apresentações de trabalhos e bancas.
Ágil, interativo, fácil de usar e disponível em português, o serviço institucional possui funcionalidades variadas, como recursos de áudio, vídeo, bate-papo, webcam, envio de arquivos e compartilhamento de tela. O layout pode ser otimizado conforme a situação para a qual a sala vai ser utilizada. Além disso, não há limite de participantes e o acesso pode ser feito inclusive por smartphone.
Para facilitar o compartilhamento das salas disponibilizamos também link curto e conveniente automaticamente.
</p>
<hr>
      </div>
    </div>
  </div>
</div>
